<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="assets/images/favicon.ico?v=22">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="assets/js/jquery.js" ></script>
    <script type="text/javascript" src="assets/js/main.js" ></script>
    <title>USC Housing - Request Manager</title>
</head>
<body>
<div class="container">
    <div id="logo" class="img-responsive">
        <img src="assets/images/usc_housing_logo.jpg" style="height: 130px" class="img-responsive">
    </div>
    <div id="control-flow">

    </div>
</div>

</body>
</html>